<%- include('partials/header') %>

<div class="jumbotron">
  <h1>Pawsome Heaven</h1>
  <h3>Find your perfect companion and give them a forever home.</h3>
  <div class="icon-container">
    <i class="fas fa-cat"></i>
    <i class="fas fa-dog"></i>
  </div>
  <p>
    Our Adoption Center app connects prospective pet owners with a variety of adorable dogs and cats available for adoption. Browse through our collection of lovable pets, learn more about their profiles, and easily submit adoption requests.Help us in finding forever homes for these wonderful animals!
  </p>
</div>


<%- include('partials/footer') %>



<style>
  .jumbotron {
    text-align: center;
  }

  h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }

  h3 {
    font-size: 24px;
    color: #666;
    margin-bottom: 20px;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .icon-container i {
    font-size: 100px;
    margin: 0 20px;
    color: #666;
  }

  p {
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
  }
</style>