<%- include('partials/header') %>

<div class="jumbotron text-center">
  <h1>Welcome to the Adoption Center!</h1>
    <p>Please select an option:</p>
    <div class="options">
      <a  class="btn btn-dark btn-lg" href="/dogs" role="button">Adopt a dog</a>
      <a  class="btn btn-dark btn-lg" href="/cats" role="button">Adopt a cat</a>
      <a  class="btn btn-dark btn-lg" href="/makeapost" role="button">Make a post</a>
    </div>
    <a id="logout-btn" class="btn btn-secondary" href="/" role="button">Log Out</a>
</div>

<%- include('partials/footer') %>
