<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class='fas fa-paw' style='font-size:100px'></i>
    <h1 class="display-3">Pawsome Haven</h1>
    <p class="lead">Discover love, joy, and forever companions at Pawsome Haven.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>
