<%- include('partials/header') %>

  <div class="container mt-5">
    <h1>Adoption Successful!</h1>
    <p>Thank you for adopting.</p>
    <a class="btn btn-secondary" href="/firstpage" role="button">Back</a>
  </div>

  <%- include('partials/footer') %>

    <style>
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
      }

      h1 {
        margin-bottom: 20px;
      }
    </style>